body {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    background: #44CF6C;
    color: honeydew;
    height: 70px;
    border-top: 1px solid #A9FDAC;
    border-bottom: 1px solid #A9FDAC;
    align-items: center;
    display: flex;
}

.selected {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.letter {
    background: #32A287;
    width: 50px;
    height: 30px;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
}

.count-current {
    width: 80px;
    padding: 10px 0 10px 10px;
    display: inline-block;
}

.count-target {
    width: 80px;
    padding: 10px 10px 10px 0;
    display: inline-block;
}

.done {
    background: transparent;
    color: honeydew;
    width: 100px;
    border: 0;
    padding: 16px;
    align-content: center;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.update {
    background: #32A287;
    color: honeydew;
    width: 150px;
    margin: 0 0 0 10px;
    border-radius: 8px;
    border: 0;
    padding: 16px;
    font-size: larger;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.date {
    color: honeydew;
    margin: 0 0 0 60px;
}
