body {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}

.flex-container {
    background: #44CF6C;
    border-top: 1px solid #A9FDAC;
    border-bottom: 1px solid #A9FDAC;
    color: honeydew;
    display: flex;
    align-items: center;
}

.letter {
    background: #32A287;
    width: 50px;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.count-current {
    display: inline-block;
    width: 50px;
    padding: 10px 0 10px 10px;
    text-align: center;
}

.count-target {
    display: inline-block;
    width: 50px;
    padding: 10px 10px 10px 0;
    text-align: center;
}

.done {
    background: transparent;
    width: 100px;
    text-align: center;
    color: honeydew;
    font-size: x-large;
    font-weight: bold;
    border: 0;
    align-content: center;
    padding: 16px;
}

.update {
    color: honeydew;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #32A287;
    margin: 0 0 0 10px;
    border-radius: 8px;
    border: 0;
    padding: 16px;
    font-size: larger;
}
